
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	background: #808080;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	color: black;
}
h1 {
	color: black;
}
p {
	text-align: left;
	margin-bottom: 1.2em;
}
.footer {
	text-align: center;
}
.nowrap {
	white-space: nowrap;
}


.w3c-button {
	margin: 50px;
}
table, #header {
	width: 90%;
	max-width: 1000px;
	margin: 0em auto;
	margin-bottom: 100px;
	background: gray;
	text-align: center;
	empty-cells: hide;
	border: 2px solid black;
}

th, td {
	background: white;
	padding: 1em 1em;
	vertical-align: middle;
	border: 2px solid black;
}
th {
	background: white;
	font-weight: bold;
}
caption {
	font-size: 2.4em;
	font-weight: bold;
	background: white;
	text-align: center;
	padding: 20px;
	margin: 2em auto;
	border: 4px solid black;
}
code {
	font-size: 1em;
}
thead {
	margin-bottom: 50px;
}

#footer {
	width: 100%;
	height: 15px;
	border: 1px solid black;
}
